@tailwind base;
@tailwind components;
@tailwind utilities;
@import "@fontsource/instrument-sans/index.css";

body {
  @apply font-instrument;
}


.fade-blur-mask {
  backdrop-filter: blur(18px);
  -webkit-backdrop-filter: blur(18px);

  mask-image: linear-gradient(
    to top,
    black 0%,
    black 20%,
    rgba(0,0,0,0.6) 45%,
    rgba(0,0,0,0.3) 65%,
    transparent 75%
  );
  -webkit-mask-image: linear-gradient(
    to top,
    black 0%,
    black 20%,
    rgba(0,0,0,0.6) 45%,
    rgba(0,0,0,0.3) 65%,
    transparent 75%
  );
}
